<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Page</title>

    <link rel="stylesheet" href="css/style.css"><link>
  </head>
  <body>
    <div id="app">
      <div class="product">

        <div class="product-image">
          <img :src="image" >
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-show="onSale">On Sale!!!</p>
          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Only a few left. Buy Soon!</p>
          <p v-else>Out of Stock</p>
          <p>{{ description }}</p>

          <ul>
            <li v-for="detail in details">{{ detail}}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantId">
            <p>{{ variant.variantColor }}</p>
          </div>

          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>

          <button v-on:click="addToCart">Add to Cart</button>

          <div class="cart">
            <p>Cart ({{ cart }})</p>
          </div>
        </div>

      </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>